* {
  box-sizing: border-box;
}

.arsenal-sc-regular {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-sc-bold {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-sc-regular-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-sc-bold-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #0d0c1d;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

h2 {
  color: #a69cac;
  margin: 0;
  font-size: 32px;

  text-align: center;
  margin-top: 80px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-content: center;

  background-color: #a69cac;
  color: #0d0c1d;

  padding: 0 3%;
  margin: 0;

  height: 50px;

  font-size: 18px;
}

h1 {
  margin: 0;
  margin-left: 15px;
  padding: 0;
}

footer {
  display: flex;
  align-content: center;

  color: #0d0c1d;
  background-color: #a69cac;

  padding: 8px 1%;
  margin: 0;

  font-size: 16px;
}

li {
  margin: 25px 0;
  padding: 0;
}

.profile-container {
  display: flex;
  flex-direction: row;

  margin: 0 auto;
  margin-top: 80px;

  padding: 0;
}

.profile-container img {
  margin-right: 15px;
}

.profile-details {
  color: #0d0c1d;
  background-color: #a69cac;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0 15px 15px 0;
  font-size: 24px;
}

.date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 5px 0;
}

.date-container > p {
  margin: 0;
  padding: 0;
}

.text-container {
  padding: 10px 15px;
  background-color: #f1dac4;
  border-radius: 0 15px 15px 15px;
  margin: 0 5%;
  margin-top: 40px;

  font-size: 22px;
  width: fit-content;
  align-self: center;

  color: rgb(0, 0, 0);
}

header > p {
  font-size: larger;
}

.body-container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding: 0 5%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.goal-list {
  margin: 0 auto;
  width: 80%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

a {
  color: #0e59c9;
}

@media (max-width: 992px) {
  .cards-container {
    flex-direction: column;
  }

  header {
    font-size: 12px;
    padding: 0;
    height: fit-content;
  }

  footer {
    font-size: 10px;
    margin-top: -25px;
  }

  .text-container {
    font-size: 14px;
  }

  h1 {
    margin: auto 0;
    width: 60%;
  }

  .date-container {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .profile-container {
    display: block;
  }

  .profile-details {
    border-radius: 0 0 15px 15px;
    margin: 0;
    margin-top: 15px;
    font-size: 16px;

    width: 400px;

    text-align: center;
  }
}
